@font-face {
    font-family: 'Circular';
    src: url('../font/CircularStd-Book.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('../font/CircularStd-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('../font/CircularStd-Bold.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('../font/CircularStd-Black.otf');
    font-weight: 700;
    font-style: normal;
}

:root {
  --accent: #f7980a;
  --darker: #d4850f;
}

html,
body {
  /* CHANGE BACKGROUND HERE */

  background: url(https://cdn.discordapp.com/attachments/603444687247769600/720083627211358208/dfgj.gif)
      no-repeat center center fixed,
    #0f0f0d;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}

main {
  font-family: 'Circular';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

/* CHANGE PROFILE PICTURE BACKGROUND HERE */

#pic {
  width: 128px;
  height: 128px;
  background: url('https://media.discordapp.net/attachments/603444687247769600/720079858469830676/142957f9e5b6b2ba227f606759714daa_1.jpg');
  border-radius: 128px;
  border: 2px solid var(--accent);
  margin: 0 auto;
}

h2 {
  margin: 0;
  margin-right: -15px;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 32px;
  color: var(--accent);
  margin-top: 40px;
}

h1 {
  margin: 0;
  margin-right: -15px;
  text-transform: lowercase;
  letter-spacing: 20px;
  font-size: 46px;
  color: var(--accent);
  margin-bottom: 40px;
}

h2:before {
  content: '';
}

h2:after {
  content: '';
}

#socials {
  margin: 0 auto;
}

#socials a {
  font-size: 28px;
  color: var(--darker);
  text-decoration: none;
  margin: 5px 16px;
  display: inline-block;
  vertical-align: top;
  transition: 0.2s all ease-in-out;
}

#socials a:hover {
  color: var(--accent);
  transform: scale(1.5);
}

.tippy-tooltip {
  font-family: 'Circular';
  color: var(--accent);
  padding: 8px 10px 6px 10px;
}

canvas {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  pointer-events: none;
}
